                                        /*************** delete default browser style ***************/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
}
                                        /*************** variables ***************/
:root {
                                        /* paleta de colores */
    --principalLight: #02C3BD;
    --principalTwo: #00B9AE;
    --principalThree: #009F93;
    --principalFour: #037171;
    --principalFive: #03312E;
    --secondaryLight: #FBD7B1;
    --secondaryDark: #E7815F;
    --secondaryDarker: #500101;
}

                                        /*************** clases generales ***************/

.bordeRedondeado{
    border-radius: 15px;
    overflow: hidden;
}

@font-face {
    font-family: pacifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: corbel;
    src: url(./fonts/CORBEL.TTF);
}

.tituloPrincipal{
    font-family: pacifico;
    font-size: 50px;
}

.tituloSecundario{
    font-family: pacifico;
    font-size: 40px;
}

.textoGrande{
    font-family: corbel;
    font-size: 18px;
}

.textoPequeño{
    font-family: corbel;
    font-size: 18px;
}

.subtitulo{
    font-family: corbel;
    font-size: 36px;
}

h1{
    font-family: pacifico;
    font-size: 50px;
}

h2{
    font-family: pacifico;
    font-size: 40px;
}

h3{
    font-family: corbel;
    font-size: 36px;
}

                                        /*************** breadcrumb ***************/
nav.breadCrumb {
    padding: 0.8em 1em;
    border: 1px solid var(--secondaryDark);
    border-radius: 2em;
    background: var(--secondaryLight);
}

nav.breadCrumb li {
    display: inline;
}

nav.breadCrumb li + li::before {
    display: inline-block;
    margin: 0 0.30em;
    transform: rotate(13deg);
    border-right: 0.1em solid var(--secondaryDark);
    height: 0.8em;
    content: '';
}

nav.breadCrumb [aria-current="page"] {
    color: #000;
    font-weight: 700;
}
                                        /*************** Pagina de Intercambio ***************/
body {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid: "header header"
          "input input"
          "main main"
          "aside aside"
          "footer footer"
}
header { grid-area: header; }
nav { grid-area: nav; }
input { grid-area: input; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }

                                        /*************** barra busqueda ***************/
#barraBusqueda{
    display: block;
    border: solid 1px black;
    height: 25px;
    text-indent: 10px;
}

                                        /**************barraNavigacion ***************/
#barraNavegacion{
    height: 50px;
    width: 100%;
    background-color:var(--principalFive);
    display: flex;
    align-self: stretch;
    justify-self: stretch;
}

.botonNavegacion{
    background-color:var(--principalFive);
    height: 100%;
    width: 175px; 
    display: flex; 
    color:white;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    align-self: stretch;
}

.botonNavegacion:hover{
    background-color: var(--principalThree);
}

#barraNavegacion > li{
    display: flex;
}

#barraNavegacion > li:nth-child(4) {
    margin-left: auto;
}

                                        /************** messenger ***************/

#messenger{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    margin-right: 0;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.messengerBoton{
    background-color: var(--secondaryDarker);
    height: 60px;
    width: 300px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--secondaryDark);
}

.messengerBotones{
    display: flex;
    flex-direction: row;
}

#messengerMensaje{
    display: flex;
    background-color: var(--secondaryLight);
    color: white;
    border: solid 1px var(--secondaryDark);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#messengerMensaje > span{
    display: flex;
}