                                        /*************** delete default browser style ***************/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
}
                                        /*************** variables ***************/
:root {
                                        /* paleta de colores */
    --principalLight: #02C3BD;
    --principalTwo: #00B9AE;
    --principalThree: #009F93;
    --principalFour: #037171;
    --principalFive: #03312E;
    --secondaryLight: #FBD7B1;
    --secondaryDark: #E7815F;
    --secondaryDarker: #500101;
    --textcolor: #FFFFFC;
}

                                        /*************** clases generales ***************/

.bordeRedondeado{
    border-radius: 15px;
    overflow: hidden;
}

@font-face {
    font-family: pacifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: corbel;
    src: url(./fonts/CORBEL.TTF);
}

.tituloPrincipal{
    font-family: pacifico;
    font-size: 50px;
}

.tituloSecundario{
    font-family: pacifico;
    font-size: 40px;
}

.textoGrande{
    font-family: corbel;
    font-size: 18px;
}

.textoPequeño{
    font-family: corbel;
    font-size: 18px;
}

.subtitulo{
    font-family: corbel;
    font-size: 36px;
}

h1{
    font-family: pacifico;
    font-size: 50px;
}

h2{
    font-family: pacifico;
    font-size: 40px;
}

h3{
    font-family: corbel;
    font-size: 28px;
}
                                        /*************** breadcrumb ***************/
nav.breadCrumb {
    padding: 0.8em 1em;
    border: 1px solid var(--secondaryDark);
    background: var(--secondaryLight);
}

nav.breadCrumb li {
    display: inline;
}

nav.breadCrumb li + li::before {
    display: inline-block;
    margin: 0 0.30em;
    transform: rotate(13deg);
    border-right: 0.1em solid var(--secondaryDark);
    height: 0.8em;
    content: '';
}

nav.breadCrumb [aria-current="page"] {
    color: #000;
    font-weight: 700;
}
                                        /*************** pagina de Foro ***************/
#bodyForo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 100% 30px;
}

#headerForo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#mainForo{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 45% 45%;
    justify-items: center;
    align-items: center;
}

#footerForo{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#tituloForo{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #02C3BD 0%, rgba(2, 195, 189, 0.2) 100%);
}

#tituloForo #barraBusqueda {
    width: 350px;
    margin-right: 50px;
}

#tituloForo h3 {
    margin-left: 50px;
}

#displayCategorias{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 90%;
    justify-items: center;
    align-items: center;
}

#postsRecientes{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #FBD7B1 0%, rgba(251, 215, 177, 0.28) 100%);
    justify-content: center;
    height: 100%;
    width: 100%;
}

#postsRecientes > h3{
    text-align: center;
    color: var(--secondaryDarker);
    margin: 10px;
}

#displayPostsRecientes{
    width: 80%;
    margin: auto;
}

.categoriaForo{
    display: flex;
    width: 200px;
    height: 90px;
    background-color:var(--principalFive) ;
    align-items: center;
    justify-content: center;
    color: var(--textcolor);
}
.hiloForo{
    display: flex;
    width: 97%;
    height: 50px;
    padding: 20px;
    background-color:var(--principalFour) ;
    align-items: center;
    justify-content: space-between;
    color: var(--textcolor);
    margin-bottom: 5px;
}

#displayPostsRecientes .hiloForo{
    background-color: var(--secondaryDark);
    color: var(--textcolor)
}

.hiloForo > h4, .hiloForo > p {
    width: 100%;
}

.hiloForo > p:nth-child(2){
    text-align: center;
}

.hiloForo > p:nth-child(3){
    text-align: right;
}
                                        /*************** pagina de Foro-Categoría ***************/

#bodyForoCategoria{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 100% 30px;
}

#headerForoCategoria{
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
}

#mainForoCategoria{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 10% 80% 10%;
    justify-items: center;
}

#footerForoCategoria{
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
}

#mainForoCategoria > h3 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: linear-gradient(180deg, #E7815F 0%, #FBD7B1 100%);
    height: 100%;
    width: 100%;
    display: flex;
    text-indent: 50px;
    align-items: center;
}

#mainForoCategoria > #contenedorBarraBusqueda {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: linear-gradient(180deg, #FBD7B1 0%, rgba(251, 215, 177, 0.28) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#mainForoCategoria #barraBusqueda{
    width: 80%;
    margin-right: 50px;
}

#mainForoCategoria > #displayHilos {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 90%;
    height: 370px;
    margin-top: 20px;
}

#botonNuevoHilo{
    background-color: var(--secondaryDarker);
    color: var(--textcolor);
    width: 120px;
    height: 40px;
    justify-self: flex-end;
    margin-right: 50px;
}

#breadCrumbForoCategoria{
    justify-self: flex-start;
    margin-left: 50px;
    align-self: center;
}

.paginacionForo{
    color: var(--principalFive);
}

                                           /*************** pagina de Foro-Hilo ***************/
#bodyForoHilo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 100% 30px;

}
#mainForoHilo{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 20% 70% 10%;

}
#subtituloHilo{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#displayPosts{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
#mainForoHilo #barraBusqueda {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#botonResponderHilo{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.postForo{
    background-color: var(--principalTwo);
    color: var(--textcolor);
    display: grid;
    grid-template-columns: 5% 80% 15%;
    grid-template-rows: 35% 35% 30%;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}

.postForo .fotoPerfil {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
    justify-self: right;
    align-self: center;
    margin-right: 10px;
}

.postForo .displayReputacion {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: 50px;
    justify-self: center;
    align-self: center;
}

.postForo > p:nth-child(2){
    display: flex;
    align-items: flex-end;
    margin-bottom: 2px;
}

.postForo > p:nth-child(3){
    display: flex;
    align-items: flex-end;
    margin-bottom: 2px;
    justify-content: center;
}

.postForo > p:nth-child(4){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 2px;
}


                                        /*************** pagina de Intercambio ***************/
#bodyIntercambio {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 100% 30px; 
}
.headerIntercambios {
    grid-column: 1 / 3;
    grid-row: 1 / 2; 
    align-items: center;
    justify-items: start;
}
.mainIntercambios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 720px;
}
.tituloIntercambios {
    background: linear-gradient(180deg, #02C3BD 0%, rgba(2, 195, 189, 0) 100%);
    align-items: center;
}
.intercambiosDisponibles {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: 34% 33% 33% 5%;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.paginacion {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: end;
}
.asideIntercambios {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    padding: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 60px 30px 10% auto;
    background: #FBD7B1;
}
#barraBusqueda {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #FFFFFC;
    display: flex;
    align-self: start;
}
#botonOfrecerProducto {
    display: flex;
    border: solid 1px black;
    height: 30px;
    width: 170px;
    text-indent: 40px;
    color: white;
    background-color: #500101;
    justify-self: end;
    text-underline-position: unset;
    align-self: start;
}
#ultimosIntercambios {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-self: end;
    justify-content: center;
    background-color: var(--secondaryDark);
}
.intercambiosRecientes {
    grid-column: 1/2;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: repeat( 3, auto);
    align-items: center;
    justify-items: center;
    background-color: var(--secondaryDark);
}
                                        /* items de intercambio */
.itemIntercambio {
    border: 1px solid #03312E;
    display: flex;
}
.tabla {
    height: 200px;
    width: 200px;
}
.tablaIntercambiada {
    height: 140px;
    width: 140px;
}
.itemIntercambiado {
    border: 1px solid #03312E;
    display: flex;
}

                                        /*************** pagina de Perfil ***************/
#bodyPerfil{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 50% 50% 30px;
}

#mainPerfil{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
}

#footerPerfil{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

#seccionMessenger{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(180deg, #E7815F 0%, #FBD7B1 100%);
}

#headerPerfil {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#datosPerfilUsuario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #02C3BD 0%, rgba(2, 195, 189, 0) 100%);
}

#descripcionUsuario{
    margin-left: auto;
    margin-right: 50px;
    width: 50%;
}

#datosPerfilUsuario > p {
    display: flex;
    align-items: center;
}

#picturePerfilUsuario{
    margin-top: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

#fotoPerfilUsuario{
    width: 100px;
    height: 100px;
    border: solid 1px var(--principalFive);
}

#valoracionPerfilUsuario{
    width: 80px;
}
                                        /*************** footer ***************/
footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

#footer {
    height: 50px;
    width: 100%;
    background-color:var(--principalFive);
    display: flex;
    align-self: stretch;
    justify-self: stretch;
}

.botonFooter {
    background-color:var(--principalFive);
    height: 100%;
    width: 175px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    align-self: stretch;
}

#footer > li {
    display: flex;
}
#footer > li:nth-child(3) {
    margin-left: auto;
}
                                        /*************** barra Busqueda ***************/
#barraBusqueda{
    display: block;
    border: solid 1px black;
    height: 25px;
    text-indent: 10px;
    background-color: var(--textcolor);
}

                                        /************** barra Navegacion ***************/
#barraNavegacion{
    height: 50px; 
    width: 100%;
    background-color:var(--principalFive);
    display: flex;
    align-self: stretch;
    justify-self: stretch;
}

.botonNavegacion{
    background-color:var(--principalFive);
    height: 100%;
    width: 175px;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    align-self: stretch;
}

.botonNavegacion:hover{
    background-color: var(--principalThree);
}

#barraNavegacion > li{
    display: flex;
}

#barraNavegacion > li:nth-child(4) {
    margin-left: auto;
}

                                        /************** messenger ***************/

#messenger{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    margin-right: 0;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--secondaryDark);
}

.messengerBoton{
    background-color: var(--secondaryDarker);
    height: 50px;
    width: 50%;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px var(--secondaryDark);
    border-right: solid 1px var(--secondaryDark);
}

.messengerBotones{
    display: flex;
    flex-direction: row;
}

#messengerMensajes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messengerMensaje{
    display: flex;
    background-color: var(--secondaryLight);
    color: black;
    border-bottom: solid 1px var(--secondaryDark);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.messengerMensaje > span{
    display: flex;
    margin: 10px;
}